:javascript
  jQuery.extend(
    jQuery.expr[':'],
    {
      /// check that a field's value property has a particular value
      'field-value': function (el, indx, args) {
        var a, v = $(el).val();
        if ( (a = args[3]) ) {
          switch ( a.charAt(0) ) {
            /// begins with
            case '^':
              return v.substring(0,a.length-1) == a.substring(1,a.length);
            break;
            /// ends with
            case '$':
              return v.substr(v.length-a.length-1,v.length) == 
                a.substring(1,a.length);
            break;
            /// contains
            case '*': return v.indexOf(a.substring(1,a.length)) != -1; break;
            /// equals
            case '=': return v == a.substring(1,a.length); break;
            /// not equals
            case '!': return v != a.substring(1,a.length); break;
            /// equals
            default: return v == a; break;
          }
        }
        else {
          return !!v;
        }
      }
    }
  );

:css
  * { box-sizing: border-box;}
  body {
    background-color:#fff;
    color:#333;
    font-family:Helvetica Neue;
  }
  #preview {
    top:0;
    right:0;
    position:fixed;
    width:650px;
    height:92%;
    border:solid #aaa;
    border-width:0 0 1px 1px;
  }

  #output { 
    position:fixed;
    bottom:10px;
    right:0;
    width: 650px; 
    height:20px
  }

  #container {
    width:500px;
    padding:10px;
  }
  .section {
    border: 1px solid #aaa;
    border-radius:5px;
    background:#fafafa;
    padding:10px;
    margin-bottom:10px;
  }
  input, textarea {
    padding:5px;
    border-radius:5px;
    font-size:14px;
    line-height:20px;
    width:100%;
    border:1px solid #ccc;
  }
  input {
    line-height:14px;
  }
  input[type=submit] {
    background:lightblue;
    border:1px solid #aaf;
    color:black;
    padding:10px;
  }
  input.update {
    display:inline-block;
    width:75%;
  }
  input.destroy {
    display:inline-block;
    width:24%;
    background:red;
    color:#fff;
  }
  input[type=checkbox] {
    width:auto;
  }

  textarea {
    height:100px;
  }

%iframe#preview{src: preview_email_path}
%textarea#output= h email_preview(@email)

#container
  %h1 Editing email

  = form_for @email, remote: true do |f|
    .field= f.text_field :title, placeholder: "Title"
    .field= f.select :newsletter, newsletter_mappings

    .field
      = f.label :introduction
      %br
      = f.text_area :introduction
      =submit_tag "Update"

    .field
      = f.label :conclusion
      %br
      = f.text_area :conclusion
      =submit_tag "Update"

    #sections
      = f.fields_for :sections, include_id: false do |builder|
        =render "section", builder: builder

    =link_to "Add Section", new_section_email_path(@email), remote: true

  = link_to 'Show', @email
  = link_to 'Back', emails_path

:coffeescript
  $('#output').click -> $(this).select()
